body {
  background-image: url("./Assets/Image/Forest.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.about {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.project {
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  height: 120vh;
  position: relative;
}

.card {
  position: relative;
}

.card a {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
}

.donate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 15px;
  font-size: 11rem;
}

p {
  color: rgba(38,46,46);
}

.lead {
  color: white;
}

.about h2 {
  color: white;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 7px;
}

h3 {
  text-align: center;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project {
  text-align: center;
}

.zene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

iframe {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  opacity: 0.8;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer p{
  color: white;
}

.donate-text {
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.mesa {
  color: white;
}

.kapcsolat {
color: white;
font-family: "Cormorant Garamond", serif;
}

#logo {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .top-container {
    height: 100vh;
    padding-top: 50px; 
    padding-bottom: 50px; 
  }

  body {
    background-image: url("./Assets/Image/vegso.png");
    max-width: 100%; 
    max-height: 300px; 
    display: block; 
    margin: auto; 
  }

  .about,
  .project,
  .zene,
  .contact,
  .donate {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about .row {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .about .col-10 {
    width: 100%; 
  }

  #logo {
    margin-top: 30px; 
  }

  h1 {
    font-size: 5rem !important; 
  }

  .display-1 {
    font-size: 6rem; 
  }

  .lead {
    font-size: 1.2rem !important; 
  }

  .about h2 {
    font-size: 3rem !important;
    letter-spacing: 1px;
  }

  .box {
    color: rgba(38,46,46);
  }

  .donate-text {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .project h2,
  .contact h2 {
    font-size: 3rem !important; 
    letter-spacing: 1px;
  }
}